.login-card-body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #62C3E7, #f195B2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    // width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    width: 480px;
    padding: 2rem;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, .15);
        transform: rotate(-6deg);
        border-radius: 10px;
        z-index: -1;
    }

    a {
        text-decoration: none;
        color: #35339a;

        &:hover {
            text-decoration: underline;
        }
    }

    input {
        &:focus {
            background: white;
        }
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        accent-color: black;
    }

    button {
        background: black;
        color: white;
        padding: 1rem;
        border-radius: 100px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        // transition: background .5s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.85);
            cursor: pointer;
        }
    }
}

// }

.login-card-logo {
    margin-bottom: 2rem;

    img {
        width: 60px;
    }
}

.login-card-logo,
.login-card-header,
.login-card-footer {
    text-align: center;
}

.login-card-header {
    margin-bottom: 2rem;

    h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: .5rem;

        &+div {
            font-size: calc(1rem * .8);
            opacity: .8;
        }
    }
}

.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-item {
        position: relative;

        .form-item-icon {
            position: absolute;
            top: 1rem;
            left: 1.4rem;
            font-size: 1.3rem;
            opacity: .4;
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .form-item-other {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: calc(1rem * .8);
        margin-bottom: .5rem;
    }
}

.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
}

.login-card input[type="text"],
.login-card input[type="tel"],
.login-card input[type="password"],
.login-card input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.login-card-social {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 3rem;

    &>div {
        opacity: .8;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: calc(1rem * .8);
    }
}

.login-card-social-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, .6);
        border-radius: 100px;
        transition: all .5s;

        &:hover {
            background-color: white;
            transform: scale(1.1);
        }
    }
}

// @media (max-width: 548px) {
//     .login-card-container {
//         padding: 2rem 2rem;
//     }


//     @media (max-width: 500px) {
//         .login-card-container {
//             padding: 2rem 0;
//         }
//     }
// }
@media screen and (min-width: 549px) {
    .login-card {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .login-card {
        width: 600px;
    }
}

@media screen and (min-width: 992px) {
    .login-card {
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .login-card {
        width: 460px;
    }
}

.login-card-container {
    padding: 2rem 2rem;

    @media (max-width: 548px) {
        padding: 2rem 2rem;

        @media (max-width: 500px) {
            padding: 2rem 0;
        }
    }
}

@media (max-width: 800px) {

    // body {
    //     padding: 1rem 0;
    //     font-size: small;
    // }

    .login-card {
        width: 70vw;
    }
}



// *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
//     display: revert;
// }

// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }

// a,
// button {
//     cursor: revert;
// }

// ol,
// ul,
// menu {
//     list-style: none;
// }

// img {
//     max-width: 100%;
// }

// table {
//     border-collapse: collapse;
// }

// input,
// textarea {
//     -webkit-user-select: auto;
// }

// textarea {
//     white-space: revert;
// }

// meter {
//     -webkit-appearance: revert;
//     appearance: revert;
// }

// ::placeholder {
//     color: unset;
// }

// :where([hidden]) {
//     display: none;
// }

// :where([contenteditable]:not([contenteditable="false"])) {
//     -moz-user-modify: read-write;
//     -webkit-user-modify: read-write;
//     overflow-wrap: break-word;
//     -webkit-line-break: after-white-space;
//     -webkit-user-select: auto;
// }

// :where([draggable="true"]) {
//     -webkit-user-drag: element;
// }