.product {
    background-color: #f3f6ff;


    .container {
        max-width: 1200px;

        .side_arrow {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;

            .single_arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                color: var(--primary);
                border-radius: 50%;
                width: 60px;
                height: 60px;
                font-size: 26px;
                font-weight: 900;
                margin-bottom: 3rem;

            }
        }

        .product-carousel {
            // gap : 22px;
            flex-wrap: nowrap;
            overflow-x: scroll !important;

            &::-webkit-scrollbar {
                display: none;
            }

            .product-item {
                padding: 0 0 50px;
                background-color: white;

                .price {
                    margin-bottom: -12px;
                    background-color: var(--primary);
                    font-weight: 800;
                }

                .image {
                    background-color: var(--primary);
                }

                .btn {
                    height: 40px;
                    width: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--secondary);
                    border-radius: 100px;
                    font-weight: 600;
                }

                &:hover {
                    color: white;
                    background-color: var(--secondary) !important;
                    transition: 0.5s;

                    .btn {
                        background-color: var(--primary);
                    }

                }
            }
        }
    }
}

// .product-all {
//     // padding: 20%;
// }