.ord-product {
    padding: 16px;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;

    img {
        border-radius: 18px;
        height: 100px;
        width: 100px;
    }

    .product-det {
        width: 100%;
        display: flex;
        align-items: top;
        justify-content: space-between;
        padding: 20px;
        gap: 20px;

        .price {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }
    }

}